<header class="o-mainHeader">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="o-mainHeader-navigation">
          <a class="c-link c-link--logo" href="index.html"><img class="c-img" src="media/img/logo.svg" alt="CREA logo"></a>
          <div data-mobilemenu-trigger="" class="o-mainNav_listTrigger mr-2">
            <img class="c-img c-img--menu-open" src="/media/app/menu.svg" alt="open menu" data-menu="open">
            <img class="c-img c-img--menu-close" src="/media/app/close.svg" alt="close menu" data-menu="close">
          </div>
          <nav class="o-mainNav">
            <ul class="o-mainNav-list">
              <li class="o-mainNav-list__item"><a class="c-link" href="news.html">Novosti / Proizvodi</a></li>
              <li class="o-mainNav-list__item"><a class="c-link" href="brands.html">Brandovi</a></li>
              <li class="o-mainNav-list__item"><a class="c-link" href="about.html">O nama</a></li>
              <li class="o-mainNav-list__item"><a class="c-link" href="contact.html">Kontakt</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
