// Link
.c-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &-underline {
    @extend %decoration-underline;
  }

  &--logo {
    width: 60px;
    transform: translateY(30px);
  }

  .o-mainNav-list__item & {
    padding: 7px 10px;
    color: $white;
  }

  .o-mainNav-list__item:not(:last-child) & {
    margin-right: 10px;
  }
}
